h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
}

body {
    font-size: 16px;
}

#amarelo {
    background-color: #FFC900;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}